extends /template.pug

block vars
  - const title = 'Corsi Bitcoin'
  - const description = 'Elenco di corsi Bitcoin e di eventi didattici.'
  - const filterUnmapped = (list) => list.filter(course => !course.top || !course.left)
  - const unmapped = filterUnmapped(courses)
  - const style = m => m.top && m.left ? `top:${m.top}%;left:${m.left}%;` : null
  - const clss = m => m.top && m.left ? null : 'unmapped'
  - let j = 0

block main
  #courses.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        È possibile aggiungere nuovi corsi tramite [Pull Request](https://github.com/ventunobtc/ventuno.space/edit/master/content/courses.json).
        <!--Ecco un [video tutorial]() su come creare una nuova richiesta di pull.
        I valori `top/left` indicano la posizione sulla mappa in percentuale.-->

        Qui potete trovare anche il nostro [modello di presentazione](), che vi offre un punto di partenza per le vostre presentazioni.

      #map
        h2 Corsi
        ul.courses
          each m in courses
            li.official(class=clss(m) style=style(m))
              a(href=m.url target="_blank" rel="nofollow noopener")
                .dot(style=`animation-delay:${((j*2000) + random(3000))}ms;animation-duration:${courses.length*2}s;`)
                = m.name
              - j++

        img#dach(src=assetPath('/img/dach.svg') alt="IT, AT, CH")
        #tooltip.tooltip(hidden)

      if unmapped.length
        #unmapped
          h2 Altri Corsi
          ul.courses
            each m in unmapped
              li(class=clss(m) style=style(m))
                a(href=m.url target="_blank" rel="nofollow noopener")
                  = m.name
