extends /template.pug

block vars
  - const title = 'Eventi Bitcoin'
  - const description = 'Elenco di eventi Bitcoin e meetup Ventuno in Italia.'
  - const cardImage = '/img/card/meetups.png'

append head
  script(src=assetPath("/vendor/jvectormap/jquery.min.js"))
  script(src=assetPath("/vendor/jvectormap/jquery-jvectormap.js"))
  script(src=assetPath("/vendor/jvectormap/maps/europe_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/ch_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/it_mill.js"))
  link(href=assetPath("/vendor/jvectormap/jquery-jvectormap.css") rel="stylesheet")

block main
  #events.wrap
    section
      h1= title
      p= description

      ul
        //- li
        //-   = "14.-17. September 2023: "
        //-   span BTC23, Innsbruck (AT)

      h2 Eventi Passati
      ul
        //- li
        //-   = "03. Dezember 2022: "
        //-   a(href="http://bitcoinbaden.ch" rel="nofollow noopener" target="_blank") Bitcoin Baden 2022, Baden (CH)

  div(style="margin-bottom: calc(var(--space-xxl) * -1)")
    +eventMap()