extends /template.pug

block vars
  - const title = 'Eventi Bitcoin'
  - const description = 'Elenco di eventi Bitcoin e meetup Ventuno in Italia.'
  - const cardImage = '/img/card/meetups.png'

append head
  script(src=assetPath("/vendor/jvectormap/jquery.min.js"))
  script(src=assetPath("/vendor/jvectormap/jquery-jvectormap.js"))
  script(src=assetPath("/vendor/jvectormap/maps/europe_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/ch_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/it_mill.js"))
  link(href=assetPath("/vendor/jvectormap/jquery-jvectormap.css") rel="stylesheet")

block main
  #events.wrap
    section
      h1= title
      p= description

      ul
        each event in events
          li
            = event.date
            = ': '
            a(href=event.url rel="nofollow noopener" target="_blank")= event.name
        
      //-h2 Eventi Passati

  div(style="margin-bottom: calc(var(--space-xxl) * -1)")
    +eventMap()