extends /template.pug

block vars
  - const title = site.meta.title
  - const description = site.meta.description

block main
  - const ticker = shuffle(site.meta.ticker).join(" +++ ") + " +++ "
  - const duration = ticker.length / 4
  .ticker
    span(style=`animation-duration:${duration}s`)= ticker
    span(style=`animation-duration:${duration}s`)= ticker

  .wrap
    section
      h1= title
      h2= description

      :markdown-it(html linkify typographer)
        [Bitcoin](https://bitcoin.org/bitcoin.pdf), e nient'altro.
        Una volta alla settimana, la community si ritrova a discutere di Bitcoin.

        Offriamo discussioni nella nostra [Agorà](/podcast/agorà/), oltre a [Interviste](/podcast/interviste/) per scoprire la storia di importanti massimalisti
        e l\'analisi della migliore [Letteratura](/podcast/letteratura/) bitcoiner, cypherpunk ed economica.
        Potrete seguire anche i nostri approfondimenti d\'[Economia](/podcast/economia/) e il [Tour](/podcast/tour/) di Ventuno in giro per l\'Italia e nel mondo.
      +subscribe()

    section
      h2 Ultimo Episodio
      .current
        +episodePlayer(currentEpisode)

    section#telegram
      :markdown-it(html linkify typographer)
        ## 💬 Entra nel Gruppo!

        Con il nostro gruppo Telegram, vi offriamo un rifugio privo di shitcoin:
        non parliamo di prezzo o altre cose poco importanti. Nel nostro gruppo puoi trovare notizie,
        informazioni e ricevere consigli pratici su argomenti tecnici.

      a.button(href=site.meta.telegramUrl target="_blank" rel="nofollow noopener") Entra nel gruppo

    //-section#shop
      :markdown-it(html linkify typographer)
        ## 🛍 Il nostro Shop

        Nel nostro negozio potete trovare capi di abbigliamento, libri e gadget da veri tossici massimalisti bitcoiner, cypherpunk e libertari.

      .shopTeaser
        a(href=`${site.meta.shopUrl}p/tasse/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/tasse.jpg"))
        a(href=`${site.meta.shopUrl}p/hoodie-schwarz/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/hoodie-schwarz.jpg"))
        a(href=`${site.meta.shopUrl}p/hoodie-weiss/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/hoodie-weiss.jpg"))
        a(href=`${site.meta.shopUrl}p/cap/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/cap.jpg"))

      a.button(href=site.meta.shopUrl target="_blank" rel="nofollow noopener") Vai allo shop

    //-section#pocket
      :markdown-it(html linkify typographer)
        ## 💰 Sats in der Tasche

        Mit Pocket Bitcoin kannst du Satoshis stapeln und diese direkt in deiner eigenen Wallet empfangen.
        Das Einrichten regelmäßiger Käufe ist sehr leicht und schnell gemacht, ideal für deinen Bitcoin-Sparplan.
        Und wenn du spontan den Dip kaufen möchtest, dann geht natürlich auch das.

      a.button(href="https://pocketbitcoin.com/einundzwanzig/" target="_blank" rel="nofollow noopener") Mehr zu Pocket Bitcoin

    //-section#jade
      :markdown-it(html linkify typographer)
        ## 🔐 Pensa alla sicurezza

        Blockstream Jade è un portafoglio hardware di facile utilizzo e puramente open-source,
        che offre una sicurezza avanzata per custodire i propri Bitcoin.
        Crediamo sia il miglior prodotto sul mercato con caratteristiche di sicurezza all'avanguardia e un'innovativa funzionalità air-gapped.
        Il suo modello di sicurezza è stato progettato per offrire il massimo livello di protezione a costi contenuti.

      a.button(href="https://bitbox.swiss/einundzwanzig/" target="_blank" rel="nofollow noopener") Blockstream Jade

    //-section#shoutout
      :markdown-it(html linkify typographer)
        ## 🗣 Presenta la tua idea, shout out!

        Se volete che leggiamo il vostro "Shout-Out" nel podcast, vi aspettano 21.000 battute! 
        Raccogliamo tutti i proventi fino a esaurimento di 1.000.000 di sats. Poi lasciamo che il nostro gruppo Telegram
        voti su quale progetto Bitcoin dalla Germania debba ricevere questi preziosi sats.
        Quindi, se acquistate uno Shout-Out nel nostro podcast, [sostenete]() anche un progetto Bitcoin.

      a.button(href=site.meta.shoutoutUrl target="_blank" rel="nofollow noopener") Invia uno Shout-Out

    section#youtube
      :markdown-it(html linkify typographer)
        ## 📺 Community-Tutorials

        Con l\'aiuto della community, pubblichiamo guide e lezioni pratiche su Bitcoin:
        esecuzione del proprio nodo, utilizzo di portafogli e così via. 
        Avete un\'idea per un tutorial? Proponetela a noi: vi aiuteremo a fare in modo che il maggior numero possibile di persone la veda.

      a.button(href=site.meta.youtubeUrl target="_blank" rel="nofollow noopener") Il nostro canale YouTube

    //-section#lightning
      :markdown-it(html linkify typographer)
        ## ⚡️ Il nostro nodo Lightning

        È possibile aprire un canale verso il nostro Lightning Node - sia per pagare senza commissioni di routing,
        sia per connettersi con altri membri della community. Il nodo è già ben connesso 
        e si ottengono buone connessioni con altri nodi ben connessi attraverso un canale.

      .lnNodes
        .lnNode
          h3 Clearnet
          a(href="https://pay.einundzwanzig.space/embed/8bxL8xLosHAQDCGbPoi1Hc51noEAbRj2GRsvnKjoKzZQ/BTC/ln" target="_blank" rel="nofollow noopener")
            img(src=assetPath("/img/ln/clearnet.svg") alt="Clearnet")
          button.button(type="button" data-clipboard="03a09f56bba3d2c200cc55eda2f1f069564a97c1fb74345e1560e2868a8ab3d7d0@62.171.139.240:9735") Copia ID Clearnet 

        .lnNode
          h3 Tor
          a(href="http://abluswbmzrazryivhn7hocw3dglfv4m3b2qrfmuommbyxayd2jawdsad.onion/embed/8bxL8xLosHAQDCGbPoi1Hc51noEAbRj2GRsvnKjoKzZQ/BTC/ln" target="_blank" rel="nofollow noopener")
            img(src=assetPath("/img/ln/tor.svg") alt="Tor")
          button.button(type="button" data-clipboard="03a09f56bba3d2c200cc55eda2f1f069564a97c1fb74345e1560e2868a8ab3d7d0@6quf5upomo5tbrefwtpbt5ahujhgffidaohyiog4gnpr5bst23izzoyd.onion:9735") Copia ID Tor
