extends /template.pug

block vars
  - const title = 'Bitcoin Meetup'
  - const description = 'Elenco di meetup Bitcoin e Ventuno in Italia'
  - const cardImage = '/img/card/meetups.png'

append head
  script(src=assetPath("/vendor/jvectormap/jquery.min.js"))
  script(src=assetPath("/vendor/jvectormap/jquery-jvectormap.js"))
  script(src=assetPath("/vendor/jvectormap/maps/europe_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/de_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/at_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/ch_mill.js"))
  link(href=assetPath("/vendor/jvectormap/jquery-jvectormap.css") rel="stylesheet")

block main
  #meetups.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        I Satoshi Spritz sono una serie di gruppi a cui piace parlare di Bitcoin (e solo di Bitcoin) bevendo uno spritz a cadenze regolari (es. ogni settimana)
        in una città precisa al fine di costituire una comunità di Bitcoiner distribuita in Italia.
        
        È gradita l'aggiunta di nuovi Meetup [sul sito](https://satoshispritz.it/).

        Telegram: Il modello per la foto di gruppo si trova nel [Media Kit](/media).
        Suggerimento: potete tenere lontani gli spammer con bot come [Shieldy](https://t.me/shieldy_bot).

  div(style="margin-bottom: calc(var(--space-xxl) * -1)")
    +meetupMap()
