extends /template.pug

block vars
  - const current = episodes.shift()
  - const title = site.meta.title
  - const description = 'Vi riportiamo le notizie su Bitcoin della settimana, oltre a interviste e ai migliori articoli. Potete anche scoprire come altre persone sono entrate in Bitcoin.'

block main
  #podcast.podcast-home.wrap
    section
      h1= title
      p= description
      +categories()

      p
        | Ci trovate su tutte le piattaforme podcast più diffuse:
        = " "
        a(href=site.meta.spotifyUrl) Spotify
        = ", "
        a(href=site.meta.appleUrl) Apple
        = ", "
        a(href=site.meta.googleUrl) Google
        = ", "
        a(href=site.meta.overcastUrl) Overcast
        = ", "
        a(href=site.meta.anchorUrl) Anchor
        = " und "
        a(href=site.meta.podcastIndexUrl) Podcast Index
        = "."
      +subscribe()

    section
      h2 Ultimo Episodio
      .current
        +episodePlayer(current)

    if episodes.length
      section
        h2 Altri Episodi
        .episodes
          each e in episodes
            +episodeItem(e)
